// .env.example

PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URI=
MONGODB_DB=
JWT_CERT=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
ENABLE_CLOUDINARY=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URL=
